.App {
  text-align: center;
}

.App-header {
  background-color: #aef1fa;
  min-height: 70vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 1vmin); */
  color: rgb(0, 0, 0);
}

.filler{
/* SO YOU CAN ADD ACTUAL COLORS  */
background-color: #5c8e97;
}