.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #00b5a0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: default;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  /* background-color: rgb(224, 240, 255); */
}

.elementToFadeInAndOut 
{
  opacity: 0;
  animation: fade 3s linear;
  position: fixed;
}
@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; position: fixed; }  /* This fades it in then OUT!! woooohhh */
  /* visibility: hidden; */
  }

  /* MAKE ONE FOR ERRORS */
  .fadeIn {
    opacity: 1;
    animation: arrival 2s linear;
    position: fixed;
  }
  @keyframes arrival {
    0% { opacity: 0; }
    100% { opacity: 1; position: fixed;}
    }

  /* FOR LENGTHS Stock and Custom */
  .fadeInLengths {
      opacity: 1;
      animation: arrival3 2s linear;
      position: fixed right;
    }
    @keyframes arrival3 {
      0% { opacity: 0; }
      100% { opacity: 1; position: fixed right;}
      }

  .fadeInErrors {
    opacity: 1;
    animation: arrival2 2s linear;
  }
  @keyframes arrival2 {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
  
#smallFont
{
  padding-top: 3px;
  padding-bottom: 0px;
  font-size: 50%;
}

.fontAlignmentPal
{
  padding-right: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
}

.theTroubleShooter
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

textarea
{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:large;
  padding-left: 25px;
  padding-right: 25px;
}