.App {
  text-align: center;
}

.App-header {
  background-color: #a1f4ff;
  min-height: 70vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 1vmin); */
  color: rgb(0, 0, 0);
}

.use_for_color
{
  color: rgb(191, 207, 220);
  background-color: rgb(138, 138, 138);
  font-weight: bolder;
  font-size: large;
  vertical-align:sub;
  /* vertical-align:middle;
  display: flex;
  text-align: center;
  overflow: auto; */
}